<!DOCTYPE html>
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" role="main">
  <head>
    <meta charset="utf-8">
    <title>Welcome to E-commerce</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Dosis:700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static  "css/index.css" %}"/>
    {% block base_head %}
    {% endblock %}
  </head>
  <body >
    <nav>
      <div id="navbar" class="navbar navbar-light text-light">
        <div class="container-fluid">
          <div class="row no-gutter">
            <div class="col-lg-4 no-gutter">
              <img src="{% static "images/logo1.png" %}">
            </div>
            <div id="column" onclick="homepage()" class="col-lg-8 no-gutter">
              <h1 id="firsthead"><a href="{% url 'index' %}">E-Commerce</a></h1>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <script type="text/javascript">
      function homepage(){
        location.href="{% url 'index' %}";
      }
    </script>
    {% block base_body %}
    {% endblock %}
  </body>
  </html>
